/* DARK THEME COLOR  */
$dark-background-accent : #720137;
$dark-blue-accent : #920348;
$dark-blue-hover :#590054 ;
$dark-text-color : #e0e0e0;
$dark-background : #42002E;

/* LIGH THEME COLOR */
$light-background-accent : #f2f0f0;
$light-blue-accent : #F29F58;
$light-blue-hover : #AA5486 ;
$light-text-color : #141414;

/* COMMON COLOR */
$green-accent : #f76a1f;

$error-color: #e3080f;
$success-color: #0db634;
$warning-color: #5ea705;


$default-transition : all 0.5s ease-in-out;